@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    color: #fff ;
    background:-webkit-linear-gradient(left,#e85fb3,rgb(212, 212, 109),#69cf64);
    /* background-color: #f1f1f1; */
}
h1{
    color: black;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
  
    
}
.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.analog {
    background-color: black;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, .2);
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
}
.num {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 95%;
    z-index: 50;
    color: #fff;
    transform: var(--rotation);
}
.hours-needle,
.minutes-needle,
.seconds-needle {
    position: absolute;
    width: 4px;
    height: 45px;
    border-radius: 100vw;
    background-color:#D31D8C;
    transform-origin: bottom;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(90deg);
    z-index: 3;
}
.minutes-needle {
    height: 52px;
    background-color: yellow;
    transform: translate(-50%, -100%) rotate(45deg);
    z-index: 2;
}
.seconds-needle {
    height: 70px;
    background-color:#4DD447;
    transform: translate(-50%, -100%) rotate(0);
    z-index: 1;
}
.dot {
    width: 10px;
    aspect-ratio: 1;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 5;
}

.digital {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.8rem;
    background-color: black;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    padding: .5rem 2rem;
    border-radius: .5rem;
    width: 270px;
}
.hours {
    color: #D31D8C;
}
.minutes {
    color: yellow;
}
.seconds {
    color: #4DD447;
}